@import "../styles/font-awesome";

@font-face {
    font-family: "camelotcapsregular";
    src: url("../fonts/camelotcaps-webfont.eot");
    src: url("../fonts/camelotcaps-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/camelotcaps-webfont.woff2") format("woff2"),
         url("../fonts/camelotcaps-webfont.woff") format("woff"),
         url("../fonts/camelotcaps-webfont.ttf") format("truetype"),
         url("../fonts/camelotcaps-webfont.svg#camelotcapsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "romantik";
  src: url("../fonts/romantik.eot");
  src: url("../fonts/romantik.eot?#iefix") format("embedded-opentype"),
       url("../fonts/romantik.woff") format("woff"),
       url("../fonts/romantik.ttf") format("truetype"),
       url("../fonts/romantik.svg#romantik") format("svg");
  font-weight: normal;
  font-style: normal;
}
