$emerald-green : #53D43F;
$eg-light : #7FEA6E;
$eg-lightest : #9CEA8F;
$eg-dark : #579F4B;
$eg-darkest : #248A14;

$royal-blue : #4169E1;
$rb-light : #7090F0;
$rb-lightest : #92AAF0;
$rb-dark : #4F65A9;
$rb-darkest : #153492;
